# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
out/
auto-import.
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
.idea/usage.statistics.xml
*.iml
*.ipr
*.class
.idea/uiDesigner.xml
/roborally-1.0.0-java17/roborally-initial/target/